[submodule "prezto/.zprezto"]
	path = prezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
