[submodule "prezto/.zprezto"]
	path = prezto/.zprezto
    url = https://github.com/stuartcarnie/prezto.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "cheat/community"]
	path = cheat/community
	url = https://github.com/cheat/cheatsheets.git
[submodule "lldb/modules/chisel"]
	path = lldb/modules/chisel
	url = https://github.com/facebook/chisel.git
